* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-dark: black;
  --font-light: cyan;

  --main-bg: black;
  --box-ph-bg: grey;
}

body {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column wrap;
  margin-top: 1em;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--font-light);
  background-color: var(--font-dark);
}

header {
  margin-bottom: 1em;
  text-align: center;
}

header h1 {
  font-size: 3em;
}

#high-score {
  position: fixed;
  top: 0;
  left: 0;
}

#timer {
  position: fixed;
  top: 0;
  right: 0;
}

#question {
  text-align: center;
  font-size: 2em;
  margin-bottom: 3em;
}

#answer-container {
  margin: 2em auto 1em;
  width: 50ch;
}

#answer-container h3 {
  text-align: center;
  margin-bottom: 2em;
}

li {
  color: black;
  background-color: rgb(246, 177, 255);
  font-size: 1.5em;
  margin: 0.5em auto;
  padding-left: 3ch;
  align-self: left;
  width: 70%;
  min-width: 20ch;
  border: 3px solid rebeccapurple;
  border-radius: 0.3rem;
}

ul {
  list-style-type: none;
}